@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

body {
    
    /* height: 100vh; */

    box-sizing: border-box;

    background-color:var(--cor-primaria);

    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15% ;

}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;

}
.classe-forte{
    color: var(--cor-terciaria);
} 
.apresentacao{
    padding: 5% 15%;

    display: flex; 

    align-items: center;

    justify-content: space-between;

    gap: 82px;
}
.apresentacao__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;

}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}
.apresentacao__links__link{
    /* nice content:
     background-color: #22d4fd; */
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    align-items: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    
    
}
.apresentacao__img{

    height: 32px;
    width: 32px;
   
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
   color: var(--cor-primaria);
   background-color: var(--cor-terciaria);
   display: flex;
   justify-content: center;
   font-family:var(--fonte-secundaria);
   font-size: 1.5rem;
   padding: 24px;
   
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__content{
        width: auto;
    }
    
}